body{
    background-color: #fffbf7;
    margin: 0;
}

.main{
    margin-top: 140px;
    text-align: center;
}

.main h1{
    color: #025157;
    font-family: "Alegreya", serif;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 24px;
}

.main h4{
    color: #46484c;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
}

.promo-text{
    color: #8b8b8bcc;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.promo-text-img {
    margin-top: 32px;
}

.button-1{
    background-color: #025157;
    color: #fff;
    border-radius: 0px 8px 8px 0px;
    border: none;
    margin-left: -5px;
    padding: 15px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.form-1{
    border: 1px solid #b6b6b6;
    padding: 14px;
    border-radius: 8px 0 0 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.header{
    margin: 0 20px;
    height: 60px;
    padding-bottom: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 0;
    line-height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.header li{
    display: inline;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.header .logo{
    width: 15%;
    height: 100%;
}

.header .navbar{
    width: 70%;
    text-align: center;
}
.header .navbar ul{
    padding: 0;
}

.header .navbar a{
    text-decoration: none;
    color: #025157;
    padding: 8px;
}

.header .actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
}

.header .actions a{
    color: #67b54b;
    text-decoration: none;
}

.header .button {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    background-color: #67b54b;
    border-radius: 5px;
    margin: 0 10px;
    border: none;
    padding: 14px 12px;
}

.main .intro {
    margin-top: 32px;
  }
  
  .main .intro img {
    width: 70%;
  }

  .video-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: 100px auto;
  }

  .video-text h3 {
      font-family: "Alegreya", serif;
      font-size: 40px;
      line-height: 48px;
      color: #025157;
  }

  .video-text {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      color: #46484c;
      padding-left: 10px;
  }

  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
  }

  .video-img {
      width: 120px;
      margin-top: 10px;
  }

  .text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #46484c;
}

.features {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    height: 800px;
    background-color: #025157;
    padding: 5% 10%;
  }
  
  .features .feature-card {
    background-color: #ffffff;
    margin: 0 15px 30px;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .feature-content {
    flex: 1;
  }
  
  .feature-content figure {
    margin-left: 0;
  }
  
  .features .feature-card .feature-content img {
    width: 50px;
  }
  
  .feature-image {
    flex: 1;
    width: 40%;
    height: 80%;
    position: relative;
    right: -50px;
  }
  
  .feature-image figure {
    height: 100%;
    margin-top: 0;
  }
  .feature-image figure img {
    height: 100%;
    margin-top: 0;
  }

  .features h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 24px;
      color: #343434;
  }

  .features p {
      font-family: "Open Sans", sans-serif;
      color: #7e7e7e;
  }

  .feature-content {
    flex: 2;
  }
  
  .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
  .feature-content figure {
    margin-left: 0;
  }
  
  .features .feature-card .feature-content img {
    width: 50px;
  }
  
  
  .features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  
  .feature-image {
    flex: 1;
    width: 40%;
    height: 80%;
    position: relative;
    right: -50px;
    transition: right 0.5s;
  }
  
  .feature-image:hover {
    right: -20px;
  }
  
  .feature-image figure,
  .feature-image img {
    height: 100%;
    margin-top: 0;
  }
  
  .card-container {
    background-color: #a1d683;
    padding: 5% 15%;
  }
  
  .comments h1 {
    color: #025157;
    font-weight: bold;
    text-align: left;
    font-family: "Alegreya", serif;
    font-weight: 900;
    font-size: 51px;
    line-height: 61px;
    letter-spacing: -2px;
    color: #025157;
  }
  
  .comments p {
    font-size: 18px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  .comments .btn-beefy {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding-top: 12px;
    text-align: center;
    color: #fff;
    background: #025157;
    border-radius: 8px;
    height: 45px;
    width: 166px;
    transition: all .2s ease-in-out;
  }
  
  .comments .btn-beefy:hover {
    background-color: #67b54b;
    color: #fff;
  }
  
  .comments img {
    width: 450px;
    margin-top: 40px;
    padding-right: 10px;
  }
  
  .card-container .container .card {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }

  .card-container .container .card-container img {
    width: 26px;
    margin-right: 20px;
  }

  .card-container .container .card .card-body h4 {
    color: #025157;
    font-family: "Slabo 27px", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .card-container .container .card .card-body h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .card-container .container .card .card-body .results {
    display: flex;
    align-items: center;
    color: #828282;
  }
  
  .card-container .container .card .card-body .results img {
    width: 26px;
    margin-right: 20px;
    vertical-align: middle;
    border-style: none;
  }

  .card-container .container .card .card-body .results p {
    margin-top: 0;
    color: #8b8b8bcc;
    margin-bottom: 1rem;
    font-family: "Open Sans", sans-serif;
  }

  .card-container .container .card .card-footer {
    margin-bottom: 20px;
    background-color: unset;
    border-top: unset;
  }

  .card-container .container .card .card-footer button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
    background-color: #025157;
    color: #fff;
    border: none;
  }

  /* Empizan los estilos de platform.html*/

  main {
    margin-top: 184px;
    text-align: center;
  }
  
  h1 {
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    margin-bottom: 24px;
  }
  
  .header {
    padding-bottom: 184px;
  }
  
  .header p {
    color: #46484c;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 72px;
  }  

  /* Empiezan los media queries */

  @media (max-width: 425px) {
    .actions,
    .navbar {
        display: none;
    }

    .header {
        padding: 15px 15px 0;
        z-index: 1;
        margin: 0;
    }

    .main {
        margin-top: 130px;
    }

    .main h1 {
        font-size: 30px;
    }

    .main .promo-text-img > img {
        width: 100%;
    }
    
    .main .intro {
        margin: 0 10px;
    }

    .video-section {
        flex-direction: column;
        max-width: 90%;
        width: unset;
    }

    .explanatory-video > video {
        width: 100%;
    }

    .video-text h3 {
        font-size: 25px;
        line-height: 1.5;
    }

    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        height: unset;
    }

    .feature-image {
        display: none;
    }
  }

